html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container__footer {
    min-height: 707px;
    position: relative;
    padding-left: 120px;
    padding-right: 195px;
    padding-top: 322px;
    padding-bottom: 20px;
}

.footer__bg-img {
    z-index: -10;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    height: 707px;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

.footer__bg-m-img {
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    width: 768px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
}

.footer__section-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 135px;
}

.footer__logo {
    margin-bottom: 53px;
}

.footer__social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    width: 210px;
}

.footer-title {
    margin-top: 17px;
    margin-bottom: 29px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
}

.footer__services-items {
    margin-left: 20px;
    font-family: "Montserrat", system-ui;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__services-item {
    margin-bottom: 18px;
}

.footer__section-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.footer__techonlogies-items {
    margin-left: 20px;
    font-family: "Montserrat", system-ui;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__techonlogies-item {
    margin-bottom: 18px;
}

.footer__products-title {
    margin-bottom: 24px
}

.footer__portfolio-title {
    margin-bottom: 24px;
}

.footer__blog-title {
    margin-bottom: 24px;
}

.footer__about-us-items {
    margin-left: 20px;
    font-family: "Montserrat", system-ui;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.footer__about-us-item {
    margin-bottom: 18px;
}

.footer__section-3 {
    display: flex;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
}

.footer__bottom-item-1 {
    margin-right: 620px;
}

.footer__bottom-item-2 {
    margin-right: 130px;
}



@media (max-width: 1600px) {
    .container__footer {
        padding-right: 100px;
    }
}

@media (max-width: 1550px) {
    .container__footer {
        padding-right: 80px;
        padding-left: 80px;
    }

    .footer__section-1 {
        gap: 80px;
    }
}

@media (max-width: 1400px) {
    .footer__sections {
        justify-content: center;
    }

    .footer__logo {
        display: none;
    }

    .footer-section-social {
        width: 50px;
    }

    .footer__social-media {
        flex-direction: column;
        gap: 20px;
    }

    .footer__section-2 {
        gap: 80px;
    }

    .footer__bottom-item-1 {
        margin-right: 450px;
    }

    .footer__bottom-item-2 {
        margin-right: 80px;
    }
}

@media (max-width: 1200px) {
    .container__footer {
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer__sections {
        gap: 40px;
    }

    .footer__section-1 {
        gap: 40px;
    }

    .footer__section-2 {
        gap: 40px;
    }

    .footer__bottom-item-1 {
        margin-right: 350px;
    }

    .footer__bottom-item-2 {
        margin-right: 50px;
    }
}

@media (max-width: 1000px) {
    .container__footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer__services-items {
        display: none;
    }

    .footer__bottom-item-1 {
        margin-right: 150px;
    }

    .footer__bottom-item-2 {
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .container__footer {
        padding-top: 20px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .footer__services-items {
        display: inline;
    }

    .footer__bg-img {
        height: 1500px;
    }

    .footer__sections {
        flex-direction: column;
    }

    .footer__section-1 {
        flex-direction: column;
        gap: 70px;
    }

    .footer-section-social {
        padding-top: 280px;
        width: 202px;
        margin: 0 auto;
    }

    .footer__social-media {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 380px;
        margin-left: -89px;
    }

    .footer__services {
        width: 290px;
        margin: 0 auto;
    }

    .footer__logo {
        display: inline;
        width: 202px;
    }

    .footer__section-2 {
        flex-direction: column;
    }

    .footer__section-2 {
        width: 290px;
        margin: 0 auto;
    }

    .footer__about-us {
        margin-bottom: 30px;
    }

    .footer__section-3 {
        background-color: #fff;
        flex-wrap: wrap;
        gap: 96px;
        height: 100px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: -30px;
        position: relative;
        justify-content: center;
        padding-top: 16px;
        color: #4C4C4C;

    }

    .footer__bottom-item-1 {
        position: absolute;
        bottom: 24px;
        left: 30px;
        margin-right: 30px;
    }

    .footer__line {
        position: absolute;
        top: 45px;
        border: solid gray 1px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container__footer {
        padding-top: 0;
        margin-top: -90px;
    }
}